            @model AdminCRUD.Models.Product       
 
            <td>
                @Html.DisplayFor(modelItem => Model.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.IsActive)
            </td>
            <td>
                <div class="btn-group">
                    
                    @*<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-info" >Edit</a>*@
                    
                    @*<a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-primary ml-1" >Details</a>*@

                    <form asp-action="EditProduct" asp-route-id="@Model.Id"
                    data-ajax="true" data-ajax-update="#DivDetailView" data-ajax-success="ShowDetailForm()">
                        <button type="submit" class="btn btn-sm btn-info">
                            Edit
                        </button>
                    </form>

                    <form asp-action="ViewProduct" asp-route-id="@Model.Id"
                    data-ajax="true" data-ajax-update="#DivDetailView" data-ajax-success="ShowDetailForm()">
                        <button type="submit" class="btn btn-sm btn-primary ml-1">
                            Details
                        </button>
                    </form>
                    
                    <form asp-action="DeleteProduct" asp-route-id="@Model.Id"
                    data-ajax="true" data-ajax-success="deleteItem(this)">
                        <button type="submit" class="btn btn-sm btn-danger ml-1" 
                          onclick="return confirm('Do you want to delete Product @Model.Id ?');">
                            Delete
                        </button>
                    </form>
                </div>
            </td>



            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@

